:root {
  --black: rgba(39, 39, 42, 1);
  --white: rgba(255, 255, 255, 1);
  --white-opacity: rgba(255, 255, 255, 0.6);
  --primary: rgba(76, 253, 199, 1);
  --dark-green: rgba(1, 39, 28, 1);
  --grey: rgba(113, 113, 122, 1);
}
